@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>By using this site you accept your data being sent to Xi Jingpin himself. If you do not consent to this privacy policy, the CCP will talk to you.</p>
