<header class="header-section">
    <nav class="navbar">
        <div class="nav-item">
            <a asp-controller="Home" asp-action="Index" class="nav-link">Chess</a>
        </div>
        <div class="nav-item">
            <a asp-controller="Home" asp-action="Privacy" class="nav-link">Privacy</a>
        </div>
        <environment include="Development">
            <div class="nav-item">
                <a asp-controller="Home" asp-action="Test" class="nav-link">Test</a>
            </div>
        </environment>
    </nav>
    <hr class="nav-divisor" />
</header>
