
:root {
    font-family: sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    background-color: #1D1616;
    color: white;
    display: flex;
    flex-flow: column nowrap;
}

.title {
    font-size: 20pt;
    text-align: center;
    font-weight: 600;
}